# virtual env
.venv
venv
# dev
dev_notes
*.ipynb
!tests/test_cases.ipynb
!tests/deep_mlp/end_to_end.ipynb
*.egg*
worktree/
# tests
.pytest_cache
tests/*/cpp
*/*/chkps
*/*/idx_data
*/*/models
tests/deep_mlp/data 
.vscode
# docs
doc/build
doc/source/_build
