[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}
setuptools = "==39.1.0"
graphviz = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"
pytest = "*"
rope = "*"
pillow = "*"
scipy = "*"
