[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = false
name = "pypi"

[packages]
e1839a8 = {path = ".",editable = true}

[dev-packages]
pylint = "*"
flake8 = "*"
pytest = "*"
rope = "*"
pillow = "*"
scipy = "==1.5.4"
sphinx = "*"
sphinx-autoapi = "*"
twine = "*"
black = "*"
ipykernel = "*"

[pipenv]
allow_prereleases = true
