appnope==0.1.0
astroid==1.6.0
bleach==1.5.0
decorator==4.2.1
enum34==1.1.6
html5lib==0.9999999
idx2numpy==1.2.1
ipython
isort==4.2.15
jedi==0.11.1
Jinja2==2.10
lazy-object-proxy==1.3.1
Markdown==2.6.11
MarkupSafe==1.0
mccabe==0.6.1
numpy==1.14.0
parso==0.1.1
pexpect==4.3.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
protobuf==3.5.1
ptyprocess==0.5.2
Pygments==2.2.0
pylint==1.8.1
simplegeneric==0.8.1
six==1.11.0
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0
traitlets==4.3.2
-e git+https://github.com/uTensor/utensor_cgen.git@e9d87953aa2747ad60d0ccf497411606ccbd363b#egg=utensor_cgen
wcwidth==0.1.7
Werkzeug==0.14.1
wrapt==1.10.11
